body {
  background-color:#FFFFFF;
  font-family:monospace;
  font-size:10pt;
}

label {
  text-align:left;
  display:inline-block;
  width:95px;
}

input {
  text-align:right;
  display:inline-block;
}

#controls_div {
  position:absolute;
  width:400px;
}

#node_div {
  width:10px;
}

#node_color_div {
}

#node_color_pick{
  font-size: 10pt;
  font-family:monospace;
  width:100px;
}

#gs_div {
}

#layout_div {
}

#svg_div {
  position:absolute;
  top:40px;
  left:450px;
  background-color:#DEDEDE;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

fieldset.outer {
  width:400px;
}

fieldset.inner {
  width:350px;
}

.node {
  stroke: #000000;
  stroke-width: 1px;
  fill: #ff0000;
}

.link {
  stroke: #000000;
  stroke-opacity: 0.5;
  stroke-width: 1.5px
}

input.float {
  font-family:monospace;
  width:95px;
}

input.int {
  font-family:monospace;
  width:95px;
}

input[type="range"] {
  width:95px;
}

input[type="color"] {
  font-size: 10pt;
}

select {
  width:150 px;
  font-size:10pt;
  font-family: monospace;
}
